[Unit]
Description=uWSGI instance to serve sht40 metrics
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/root/i2c_sensors_api
Environment="PATH=/root/i2c_sensors_api/sht40env/bin"
ExecStart=/root/i2c_sensors_api/sht40env/bin/uwsgi --ini myproject.ini

[Install]
WantedBy=multi-user.target
